* {
    box-sizing: border-box;
}

/*Large Devices Only (Desktop)*/

@media screen and (min-width:992px) {
     body {
         margin: 0px;
         padding: 0;
         border: 1px solid black;
     }

     
    
     .menu_title {
        padding: 20px;
        text-align: center;
        font-size: 50px;
        font-family: cursive;
        text-transform: uppercase;
    }
    section {
        background-color: white;
        padding-top: 30px;
        margin-left: 15%;
        
        
       }

     .column_1, .column_2, .column_3 {
        display: inline-block;
        background-color:red;
        width: 25%;
        border: 1px solid black;
        margin: 10px;
        position: relative;
        height: 180px;
    }


    
    .column_1 h2 {
        text-align: end;
        font-family:  cursive;
       
    }
    
    .column_1 h2 span {
        background-color: orange;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       
    }
    .column_2 .soups_style {
    text-align: end;
    font-family:  cursive;
    }
    
     .soups_style span {
        background-color: tan;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
    }

    .column_3 .desserts_style {
        text-align: end;
        font-family:  cursive;
    }

    .desserts_style span {
        background-color: pink;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
    }
  .column_1 p {
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    top: -20px;
  }
   
  .column_2 p {
      padding-right: 10px;
      padding-left: 10px;
      position: relative;
      top: -20px;
  }

  .column_3 p {
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      top: -20px;
  }

 

      }

      /* Medium Devices Only (Tablet)*/

    @media ( min-width: 768px) and ( max-width: 991px) {

        body {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black; 
            margin: 0px;
        }
       
        .menu_title {
           padding: 20px;
           text-align: center;
           font-size: 50px;
           font-family:  cursive;
           text-transform: uppercase;
       }
       section {
           background-color: white;
           padding: 30px;
          }
       
         
        .column_1, .column_2 {
           display: inline-block;
           background-color:red;
           width: 40%;
           border: 1px solid black;
          margin: 10px;
          position: relative;
          height: 200px;

       }
       
       .column_1 {
           margin-left: 60px;
       }
       .column_3 {
           background-color: red;
           width: 83%;
           border: 1px solid black;
           margin: 10px;
           margin-left: 60px;
         
       }
       
       .column_1 h2 {
        text-align: end;
        font-family: cursive;
       }

       .column_1 h2 span {
        background-color: orange;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }

       .column_2 .soups_style {
         text-align: end;
         font-family:  cursive;
       }
       
       .soups_style span {
        background-color: tan;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }
       .column_3 .desserts_style {
          text-align: end;
          font-family:  cursive;
       }

       .desserts_style span {
        background-color: pink;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }
     .column_1 p {
         padding-left: 10px;
         padding-right: 10px;
         position: relative;
         top: -10px;
     }
      
     .column_2 p {
         padding-right: 10px;
         padding-left: 10px;
         position: relative;
         top: -10px;
     }
   
     .column_3 p {
         padding-left: 10px;
         padding-right: 10px;
         position: relative;
         top: -10px;
     }


    }
         

         /* Small Devices Only (Mobile) */
        
        @media (max-width: 767px) {


         body {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black; 
            margin: 0px;
        }
       
        .menu_title {
           padding: 20px;
           text-align: center;
           font-size: 50px;
           font-family:  cursive;
           text-transform: uppercase;
       }
       section {
           background-color: white;
           padding: 30px;
          }
       
         
        .column_1, .column_2, .column_3 {
           background-color:red;
           width: 100%;
           border: 1px solid black;
          margin: 10px;
          position: relative;
          left: -10px;
          height: 150px;
         
       }

       
       .column_1 h2 {
          text-align: end;
          font-family:  cursive;
       }
       
       .column_1 h2 span {
        background-color: orange;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }
       .column_2 .soups_style {
          text-align: end;
          font-family: cursive;
       }

       .soups_style span {
        background-color: tan;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }

       .column_3 .desserts_style {
          text-align: end;
          font-family: cursive;
       }

       .desserts_style span {
        background-color: pink;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }

     .column_1 p {
        margin-left: 10px;
        position: relative;
        top: -20px;
        right: -3px;
        padding: 2px;
     }
      
     .column_2 p {
        margin-left: 10px;
        position: relative;
        top: -20px;
        right: -3px;
        padding: 2px;
     }
   
     .column_3 p {
        margin-left: 10px;
        position: relative;
        top: -20px;
        right: -3px;
        padding: 2px;
        
     }


    }* {
    box-sizing: border-box;
}

/*Large Devices Only (Desktop)*/

@media screen and (min-width:992px) {
     body {
         margin: 0px;
         padding: 0;
         border: 1px solid black;
     }

     
    
     .menu_title {
        padding: 20px;
        text-align: center;
        font-size: 50px;
        font-family: cursive;
        text-transform: uppercase;
    }
    section {
        background-color: white;
        padding-top: 30px;
        margin-left: 15%;
        
        
       }

     .column_1, .column_2, .column_3 {
        display: inline-block;
        background-color:red;
        width: 25%;
        border: 1px solid black;
        margin: 10px;
        position: relative;
        height: 180px;
    }


    
    .column_1 h2 {
        text-align: end;
        font-family:  cursive;
       
    }
    
    .column_1 h2 span {
        background-color: orange;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       
    }
    .column_2 .soups_style {
    text-align: end;
    font-family:  cursive;
    }
    
     .soups_style span {
        background-color: tan;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
    }

    .column_3 .desserts_style {
        text-align: end;
        font-family:  cursive;
    }

    .desserts_style span {
        background-color: pink;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
    }
  .column_1 p {
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    top: -20px;
  }
   
  .column_2 p {
      padding-right: 10px;
      padding-left: 10px;
      position: relative;
      top: -20px;
  }

  .column_3 p {
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      top: -20px;
  }

 

      }

      /* Medium Devices Only (Tablet)*/

    @media ( min-width: 768px) and ( max-width: 991px) {

        body {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black; 
            margin: 0px;
        }
       
        .menu_title {
           padding: 20px;
           text-align: center;
           font-size: 50px;
           font-family:  cursive;
           text-transform: uppercase;
       }
       section {
           background-color: white;
           padding: 30px;
          }
       
         
        .column_1, .column_2 {
           display: inline-block;
           background-color:red;
           width: 40%;
           border: 1px solid black;
          margin: 10px;
          position: relative;
          height: 200px;

       }
       
       .column_1 {
           margin-left: 60px;
       }
       .column_3 {
           background-color: red;
           width: 83%;
           border: 1px solid black;
           margin: 10px;
           margin-left: 60px;
         
       }
       
       .column_1 h2 {
        text-align: end;
        font-family: cursive;
       }

       .column_1 h2 span {
        background-color: orange;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }

       .column_2 .soups_style {
         text-align: end;
         font-family:  cursive;
       }
       
       .soups_style span {
        background-color: tan;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }
       .column_3 .desserts_style {
          text-align: end;
          font-family:  cursive;
       }

       .desserts_style span {
        background-color: pink;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }
     .column_1 p {
         padding-left: 10px;
         padding-right: 10px;
         position: relative;
         top: -10px;
     }
      
     .column_2 p {
         padding-right: 10px;
         padding-left: 10px;
         position: relative;
         top: -10px;
     }
   
     .column_3 p {
         padding-left: 10px;
         padding-right: 10px;
         position: relative;
         top: -10px;
     }


    }
         

         /* Small Devices Only (Mobile) */
        
        @media (max-width: 767px) {


         body {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black; 
            margin: 0px;
        }
       
        .menu_title {
           padding: 20px;
           text-align: center;
           font-size: 50px;
           font-family:  cursive;
           text-transform: uppercase;
       }
       section {
           background-color: white;
           padding: 30px;
          }
       
         
        .column_1, .column_2, .column_3 {
           background-color:red;
           width: 100%;
           border: 1px solid black;
          margin: 10px;
          position: relative;
          left: -10px;
          height: 150px;
         
       }

       
       .column_1 h2 {
          text-align: end;
          font-family:  cursive;
       }
       
       .column_1 h2 span {
        background-color: orange;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }
       .column_2 .soups_style {
          text-align: end;
          font-family: cursive;
       }

       .soups_style span {
        background-color: tan;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }

       .column_3 .desserts_style {
          text-align: end;
          font-family: cursive;
       }

       .desserts_style span {
        background-color: pink;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }

     .column_1 p {
        margin-left: 10px;
        position: relative;
        top: -20px;
        right: -3px;
        padding: 2px;
     }
      
     .column_2 p {
        margin-left: 10px;
        position: relative;
        top: -20px;
        right: -3px;
        padding: 2px;
     }
   
     .column_3 p {
        margin-left: 10px;
        position: relative;
        top: -20px;
        right: -3px;
        padding: 2px;
        
     }


    }* {
    box-sizing: border-box;
}

/*Large Devices Only (Desktop)*/

@media screen and (min-width:992px) {
     body {
         margin: 0px;
         padding: 0;
         border: 1px solid black;
     }

     
    
     .menu_title {
        padding: 20px;
        text-align: center;
        font-size: 50px;
        font-family: cursive;
        text-transform: uppercase;
    }
    section {
        background-color: white;
        padding-top: 30px;
        margin-left: 15%;
        
        
       }

     .column_1, .column_2, .column_3 {
        display: inline-block;
        background-color:red;
        width: 25%;
        border: 1px solid black;
        margin: 10px;
        position: relative;
        height: 180px;
    }


    
    .column_1 h2 {
        text-align: end;
        font-family:  cursive;
       
    }
    
    .column_1 h2 span {
        background-color: orange;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       
    }
    .column_2 .soups_style {
    text-align: end;
    font-family:  cursive;
    }
    
     .soups_style span {
        background-color: tan;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
    }

    .column_3 .desserts_style {
        text-align: end;
        font-family:  cursive;
    }

    .desserts_style span {
        background-color: pink;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
    }
  .column_1 p {
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    top: -20px;
  }
   
  .column_2 p {
      padding-right: 10px;
      padding-left: 10px;
      position: relative;
      top: -20px;
  }

  .column_3 p {
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      top: -20px;
  }

 

      }

      /* Medium Devices Only (Tablet)*/

    @media ( min-width: 768px) and ( max-width: 991px) {

        body {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black; 
            margin: 0px;
        }
       
        .menu_title {
           padding: 20px;
           text-align: center;
           font-size: 50px;
           font-family:  cursive;
           text-transform: uppercase;
       }
       section {
           background-color: white;
           padding: 30px;
          }
       
         
        .column_1, .column_2 {
           display: inline-block;
           background-color:red;
           width: 40%;
           border: 1px solid black;
          margin: 10px;
          position: relative;
          height: 200px;

       }
       
       .column_1 {
           margin-left: 60px;
       }
       .column_3 {
           background-color: red;
           width: 83%;
           border: 1px solid black;
           margin: 10px;
           margin-left: 60px;
         
       }
       
       .column_1 h2 {
        text-align: end;
        font-family: cursive;
       }

       .column_1 h2 span {
        background-color: orange;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }

       .column_2 .soups_style {
         text-align: end;
         font-family:  cursive;
       }
       
       .soups_style span {
        background-color: tan;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }
       .column_3 .desserts_style {
          text-align: end;
          font-family:  cursive;
       }

       .desserts_style span {
        background-color: pink;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }
     .column_1 p {
         padding-left: 10px;
         padding-right: 10px;
         position: relative;
         top: -10px;
     }
      
     .column_2 p {
         padding-right: 10px;
         padding-left: 10px;
         position: relative;
         top: -10px;
     }
   
     .column_3 p {
         padding-left: 10px;
         padding-right: 10px;
         position: relative;
         top: -10px;
     }


    }
         

         /* Small Devices Only (Mobile) */
        
        @media (max-width: 767px) {


         body {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black; 
            margin: 0px;
        }
       
        .menu_title {
           padding: 20px;
           text-align: center;
           font-size: 50px;
           font-family:  cursive;
           text-transform: uppercase;
       }
       section {
           background-color: white;
           padding: 30px;
          }
       
         
        .column_1, .column_2, .column_3 {
           background-color:red;
           width: 100%;
           border: 1px solid black;
          margin: 10px;
          position: relative;
          left: -10px;
          height: 150px;
         
       }

       
       .column_1 h2 {
          text-align: end;
          font-family:  cursive;
       }
       
       .column_1 h2 span {
        background-color: orange;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }
       .column_2 .soups_style {
          text-align: end;
          font-family: cursive;
       }

       .soups_style span {
        background-color: tan;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }

       .column_3 .desserts_style {
          text-align: end;
          font-family: cursive;
       }

       .desserts_style span {
        background-color: pink;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }

     .column_1 p {
        margin-left: 10px;
        position: relative;
        top: -20px;
        right: -3px;
        padding: 2px;
     }
      
     .column_2 p {
        margin-left: 10px;
        position: relative;
        top: -20px;
        right: -3px;
        padding: 2px;
     }
   
     .column_3 p {
        margin-left: 10px;
        position: relative;
        top: -20px;
        right: -3px;
        padding: 2px;
        
     }


    }* {
    box-sizing: border-box;
}

/*Large Devices Only (Desktop)*/

@media screen and (min-width:992px) {
     body {
         margin: 0px;
         padding: 0;
         border: 1px solid black;
     }

     
    
     .menu_title {
        padding: 20px;
        text-align: center;
        font-size: 50px;
        font-family: cursive;
        text-transform: uppercase;
    }
    section {
        background-color: white;
        padding-top: 30px;
        margin-left: 15%;
        
        
       }

     .column_1, .column_2, .column_3 {
        display: inline-block;
        background-color:red;
        width: 25%;
        border: 1px solid black;
        margin: 10px;
        position: relative;
        height: 180px;
    }


    
    .column_1 h2 {
        text-align: end;
        font-family:  cursive;
       
    }
    
    .column_1 h2 span {
        background-color: orange;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       
    }
    .column_2 .soups_style {
    text-align: end;
    font-family:  cursive;
    }
    
     .soups_style span {
        background-color: tan;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
    }

    .column_3 .desserts_style {
        text-align: end;
        font-family:  cursive;
    }

    .desserts_style span {
        background-color: pink;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
    }
  .column_1 p {
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    top: -20px;
  }
   
  .column_2 p {
      padding-right: 10px;
      padding-left: 10px;
      position: relative;
      top: -20px;
  }

  .column_3 p {
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      top: -20px;
  }

 

      }

      /* Medium Devices Only (Tablet)*/

    @media ( min-width: 768px) and ( max-width: 991px) {

        body {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black; 
            margin: 0px;
        }
       
        .menu_title {
           padding: 20px;
           text-align: center;
           font-size: 50px;
           font-family:  cursive;
           text-transform: uppercase;
       }
       section {
           background-color: white;
           padding: 30px;
          }
       
         
        .column_1, .column_2 {
           display: inline-block;
           background-color:red;
           width: 40%;
           border: 1px solid black;
          margin: 10px;
          position: relative;
          height: 200px;

       }
       
       .column_1 {
           margin-left: 60px;
       }
       .column_3 {
           background-color: red;
           width: 83%;
           border: 1px solid black;
           margin: 10px;
           margin-left: 60px;
         
       }
       
       .column_1 h2 {
        text-align: end;
        font-family: cursive;
       }

       .column_1 h2 span {
        background-color: orange;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }

       .column_2 .soups_style {
         text-align: end;
         font-family:  cursive;
       }
       
       .soups_style span {
        background-color: tan;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }
       .column_3 .desserts_style {
          text-align: end;
          font-family:  cursive;
       }

       .desserts_style span {
        background-color: pink;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }
     .column_1 p {
         padding-left: 10px;
         padding-right: 10px;
         position: relative;
         top: -10px;
     }
      
     .column_2 p {
         padding-right: 10px;
         padding-left: 10px;
         position: relative;
         top: -10px;
     }
   
     .column_3 p {
         padding-left: 10px;
         padding-right: 10px;
         position: relative;
         top: -10px;
     }


    }
         

         /* Small Devices Only (Mobile) */
        
        @media (max-width: 767px) {


         body {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black; 
            margin: 0px;
        }
       
        .menu_title {
           padding: 20px;
           text-align: center;
           font-size: 50px;
           font-family:  cursive;
           text-transform: uppercase;
       }
       section {
           background-color: white;
           padding: 30px;
          }
       
         
        .column_1, .column_2, .column_3 {
           background-color:red;
           width: 100%;
           border: 1px solid black;
          margin: 10px;
          position: relative;
          left: -10px;
          height: 150px;
         
       }

       
       .column_1 h2 {
          text-align: end;
          font-family:  cursive;
       }
       
       .column_1 h2 span {
        background-color: orange;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }
       .column_2 .soups_style {
          text-align: end;
          font-family: cursive;
       }

       .soups_style span {
        background-color: tan;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }

       .column_3 .desserts_style {
          text-align: end;
          font-family: cursive;
       }

       .desserts_style span {
        background-color: pink;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }

     .column_1 p {
        margin-left: 10px;
        position: relative;
        top: -20px;
        right: -3px;
        padding: 2px;
     }
      
     .column_2 p {
        margin-left: 10px;
        position: relative;
        top: -20px;
        right: -3px;
        padding: 2px;
     }
   
     .column_3 p {
        margin-left: 10px;
        position: relative;
        top: -20px;
        right: -3px;
        padding: 2px;
        
     }


    }* {
    box-sizing: border-box;
}

/*Large Devices Only (Desktop)*/

@media screen and (min-width:992px) {
     body {
         margin: 0px;
         padding: 0;
         border: 1px solid black;
     }

     
    
     .menu_title {
        padding: 20px;
        text-align: center;
        font-size: 50px;
        font-family: cursive;
        text-transform: uppercase;
    }
    section {
        background-color: white;
        padding-top: 30px;
        margin-left: 15%;
        
        
       }

     .column_1, .column_2, .column_3 {
        display: inline-block;
        background-color:red;
        width: 25%;
        border: 1px solid black;
        margin: 10px;
        position: relative;
        height: 180px;
    }


    
    .column_1 h2 {
        text-align: end;
        font-family:  cursive;
       
    }
    
    .column_1 h2 span {
        background-color: orange;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       
    }
    .column_2 .soups_style {
    text-align: end;
    font-family:  cursive;
    }
    
     .soups_style span {
        background-color: tan;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
    }

    .column_3 .desserts_style {
        text-align: end;
        font-family:  cursive;
    }

    .desserts_style span {
        background-color: pink;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
    }
  .column_1 p {
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    top: -20px;
  }
   
  .column_2 p {
      padding-right: 10px;
      padding-left: 10px;
      position: relative;
      top: -20px;
  }

  .column_3 p {
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      top: -20px;
  }

 

      }

      /* Medium Devices Only (Tablet)*/

    @media ( min-width: 768px) and ( max-width: 991px) {

        body {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black; 
            margin: 0px;
        }
       
        .menu_title {
           padding: 20px;
           text-align: center;
           font-size: 50px;
           font-family:  cursive;
           text-transform: uppercase;
       }
       section {
           background-color: white;
           padding: 30px;
          }
       
         
        .column_1, .column_2 {
           display: inline-block;
           background-color:red;
           width: 40%;
           border: 1px solid black;
          margin: 10px;
          position: relative;
          height: 200px;

       }
       
       .column_1 {
           margin-left: 60px;
       }
       .column_3 {
           background-color: red;
           width: 83%;
           border: 1px solid black;
           margin: 10px;
           margin-left: 60px;
         
       }
       
       .column_1 h2 {
        text-align: end;
        font-family: cursive;
       }

       .column_1 h2 span {
        background-color: orange;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }

       .column_2 .soups_style {
         text-align: end;
         font-family:  cursive;
       }
       
       .soups_style span {
        background-color: tan;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }
       .column_3 .desserts_style {
          text-align: end;
          font-family:  cursive;
       }

       .desserts_style span {
        background-color: pink;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }
     .column_1 p {
         padding-left: 10px;
         padding-right: 10px;
         position: relative;
         top: -10px;
     }
      
     .column_2 p {
         padding-right: 10px;
         padding-left: 10px;
         position: relative;
         top: -10px;
     }
   
     .column_3 p {
         padding-left: 10px;
         padding-right: 10px;
         position: relative;
         top: -10px;
     }


    }
         

         /* Small Devices Only (Mobile) */
        
        @media (max-width: 767px) {


         body {
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black; 
            margin: 0px;
        }
       
        .menu_title {
           padding: 20px;
           text-align: center;
           font-size: 50px;
           font-family:  cursive;
           text-transform: uppercase;
       }
       section {
           background-color: white;
           padding: 30px;
          }
       
         
        .column_1, .column_2, .column_3 {
           background-color:red;
           width: 100%;
           border: 1px solid black;
          margin: 10px;
          position: relative;
          left: -10px;
          height: 150px;
         
       }

       
       .column_1 h2 {
          text-align: end;
          font-family:  cursive;
       }
       
       .column_1 h2 span {
        background-color: orange;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }
       .column_2 .soups_style {
          text-align: end;
          font-family: cursive;
       }

       .soups_style span {
        background-color: tan;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }

       .column_3 .desserts_style {
          text-align: end;
          font-family: cursive;
       }

       .desserts_style span {
        background-color: pink;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        padding-right:10px;
        padding-left:10px;
        position: relative;
        top: -20px;
       }

     .column_1 p {
        margin-left: 10px;
        position: relative;
        top: -20px;
        right: -3px;
        padding: 2px;
     }
      
     .column_2 p {
        margin-left: 10px;
        position: relative;
        top: -20px;
        right: -3px;
        padding: 2px;
     }
   
     .column_3 p {
        margin-left: 10px;
        position: relative;
        top: -20px;
        right: -3px;
        padding: 2px;
        
     }


    }
